@import '../../Variables.scss';

*{
 margin: 0px;
 padding: 0px;
}

.todolist_panel {
    background-color: #1F1F1F;
    color: #E5E5E5;
    min-height: 100vh;
    overflow-y: hidden;

    .hamburger-icon {
        position: fixed;
        float: left;
        margin: 30px 20px;
        color: $grey;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
            color: $letter_color;
        }
    }

    .todolist-container {
        padding-top: 50px;
    
        .add-task-label {
            padding: 8px 10px;
            transition: 0.3s;
            cursor: pointer;
            display: flex;
            align-items: center;
        
            &:hover{
                color: $red;
            }
        
            span{
                display: inline-block;
                padding: 2px;
                margin-left: 5px;
                vertical-align: top;
                opacity: 0.8;
                font-size: 19px;
            }
        
            div {
                display: inline-block;
                padding: 2px 0px;
                margin-left: 6px;
            }
        }

        .done-todos-row {
            margin-top: 30px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid hsla(0,0%,100%,.1);
            cursor: pointer;

            .done-todos-label{
                padding: 10px 10px;
                font-size: 17px;
                font-weight: 300;
                opacity: 0.5;
                user-select: none;
            }

            .done-todos-arrow-icon{
                font-size: 22px;
                opacity: 0.5;
                transition: 0.3s;
            }
            .upside-down{
                transform: rotate(180deg);
            }
        }
        
        .done_todos_panel {
            height: 0;
            * {
                display: none;
            }
            transition: all 350ms ease-in-out;
        }

        .done_todos_panel--after-open {
            height: auto;
            * {
                display: flex;
            }
        }

        .done_todos_panel--before-close {
            height: 0;
            * {
                display: none;
            }
        }
    }

}
