@import '../../Variables.scss';

.navbar {
    position        : fixed;
    margin          : 0px;
    background-color: $mid-light_grey;
    height          : 100%;
    padding         : 15px;
    left            : -300px;
    z-index         : 2;
    width           : 300px;
    transition      : left 350ms ease-in-out;
    border-radius   : 0 15px 15px 0;
    

    .close-icon {
        float       : right;
        color       : $grey;
        transition  : $transition-time;
        margin-top  : 10px;
        margin-right: 5px;
        cursor      : pointer;

        &:hover {
            color: $red;
        }
    }

    .project-label {
        color      : $grey;
        font-size  : 22px;
        margin     : 20px $navbar-side-padding 20px $navbar-side-padding;
        cursor     : default;
        user-select: none;
    }

    .project_list_item {
        padding        : 10px $navbar-side-padding 8px 20px;
        border-bottom  : 1px solid $grey;
        list-style-type: none;

        a {
            text-decoration: none;
            color          : $letter_color;
            transition     : $transition-time;
            font-size      : 19px;
            font-weight    : bold;

            &:hover {
                color: $red;
            }
        }
    }

}

.navbar--after_open {
    left: 0;
    box-shadow: 5px 3px 15px rgb(20, 20, 20);
}

.navbar--before_close {
    left: -300px;
}