@import '../../Global.scss';

.todo{
    padding: 10px 0px;
    border-bottom: 1px solid hsla(0,0%,100%,.1); 
    display: flex;
    align-items: center;

    .priority{
        height: 22px;
        width: 22px;
        border-radius: 50%;
        margin: 0px 10px;
        display: flex;
        justify-content: center;

        .checked-icon{
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
        }

        &:hover{
            .checked-icon{
                opacity: 1;
            }
        }
    }

    .todo-text{
        margin: 0px;
        padding: 0px;
    }

    .red{
        border: 2px solid $red;
    }

    .blue{
        border: 2px solid $blue;
    }

    .yellow{
        border: 2px solid $yellow;
    }
    
    .grey{
        border: 2px solid $grey;
    }
}



