$red: #DE4C4A;

.todo{
    padding: 9px 0px;
    border-bottom: 1px solid hsla(0,0%,100%,.1); 
    display: flex;
    align-items: center;

    .priority{
        height: 22px;
        width: 22px;
        border-radius: 50%;
        border:2px solid $red;
        transition: 0.3s;
        margin: 0px 10px;

        

        .checked-icon{
            display: flex;
            margin: 1px 0px 0px 1px;
        }
    }

    .todo-text{
        margin: 0px;
        padding: 0px;
    }
}





