@import '../../Variables.scss';

.todo {
    padding: 10px 0px;
    border-bottom: 1px solid hsla(0,0%,100%,.1); 
    display: flex;
    align-items: center;
    transition: $transition-time;

    .priority {
        height: 22px;
        width: 22px;
        border-radius: 50%;
        margin: 0px 10px;
        display: flex;
        justify-content: center;
        transition: $transition-time;

        .checked-icon{
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
        }

        &:hover{
            border-radius: 7px;

            .checked-icon{
                opacity: 1;
            }
        }
    }

    .done-todo {
        height: 22px;
        width: 22px;
        margin: 0px 7px;
        color: $lightest_grey;
        cursor: pointer;
    }

    &:hover {
        .delete-icon{
            opacity: 0.7;
        }
    }

    .todo-text {
        margin: 0px;
        padding: 0px;
        opacity: 0.8;
        font-size: 130%;
        max-width: 85%;
        cursor: default;
    }

    .delete-icon {
        color: $grey;
        transition: 0.2s;
        margin-left: auto;
        margin-right: 5px;
        opacity: 0;

        &:hover{
            color: $letter_color;
            cursor: pointer;
        }
    }

    .red {
        border: 2px solid $red;
    }

    .blue {
        border: 2px solid $blue;
    }

    .yellow {
        border: 2px solid $yellow;
    }
    
    .grey {
        border: 2px solid $grey;
    }
}