@import '../../Variables.scss';

.openTodo {
  margin: auto;
  width: fit-content;
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;

  &__label {
    font-size: 150%;
    color: $letter_color;
    display: block;
    padding: 0 1rem;
  }

  &__img {
    height: 30%;
    margin-top: 2rem;
  }
}