@import '../../Variables.scss';

.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1F1F1F;

  &__img {
    height: 30%;
    max-width: 80%;
    margin-bottom: 8rem
  }
};