@import '../../Variables.scss';

.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1F1F1F;

  &__title {
    font-size: 4rem;
    color: $letter_color;
    margin-bottom: 5rem;
  }

  &__img {
    height: 30%;
    max-width: 80%;
    margin-bottom: 3rem
  }

  &__with {
    color: $letter_color;
    font-size: 1.7rem;
    margin-bottom: 3rem
  }
};