$lightest_gey: rgba(255, 255, 255, 0.205);
$letter_color: #bebebe;
$red: #DE4C4A;
$yellow: #FB9814;
$blue  : #4271B8;
$grey  : #7F7F7F;
$mid_gey: rgb(54, 54, 54);

*{
    font-size: 14px;
    box-sizing: border-box;
}

input[type="text"]{
    $padding: 12px;
    background-color: #171717;
    border: 1px solid $lightest_gey;
    outline: none;
    border-radius: 6px;
    color: $letter_color;
    padding: $padding;
    margin: 5px 0px;

    &:focus{
        border: 1px solid $letter_color;
        outline: none;
    }
}

button{
    padding: 6px 11px;
    margin: 6px 0px;
    outline: none;
    border: none;
    background-color: inherit;
    border-radius: 5px;
    color: $lightest_gey;
    transition: 0.3s;

    &:hover{
        color: $letter_color;
    }

    &.red{
        background-color: $red;
        color: $letter_color;
        font-weight: bold;
    }
}