@import './Variables.scss';

*{
    font-size: 14px;
    box-sizing: border-box;
}

input[type="text"]{
    $padding: 12px;
    background-color: #171717;
    border: 1px solid $lightest_grey;
    outline: none;
    border-radius: 6px;
    color: $letter_color;
    padding: $padding;
    margin: 5px 0px;
    font-size: 17px;

    &:focus{
        border: 1px solid $grey;
        outline: none;
    }
}

button{
    padding: 6px 11px;
    margin: 6px 0px;
    outline: none;
    border: none;
    background-color: inherit;
    border-radius: 5px;
    color: $lightest_grey;
    transition: 0.3s;
    font-size: 17px;

    &:hover{
        color: $letter_color;
    }

    &.red{
        background-color: $red;
        color: $letter_color;
        font-weight: bold;

        &:disabled{
            background-color: $dark-red;
            color: $lightest_grey;
        }
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #1F1F1F; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $mid_grey; 
    border-radius: 20px;
    width: 100%;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $grey; 
  }